

<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <title>Add Event</title>
      <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
      <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  
  <body>
      <section class="contact-clean">
          <form>
              <h2 class="text-center">Add Event</h2>
              <div class="mb-3"><input class="form-control" type="text" name="club" placeholder="Club" autofocus="" required="required"></div>
              <div class="mb-3"><input class="form-control" type="text" name="title" placeholder="Title" autofocus="" required="required"></div>
              <div class="mb-3"><input class="form-control" type="datetime" name="date" placeholder="Date" autofocus="" required="required"></div>
              <div class="mb-3"><input class="form-control" type="text" name="time" placeholder="Time" autofocus="" required="required"></div>
              <div class="mb-3"><textarea class="form-control" name="description" placeholder="Description" rows="14" required="required"></textarea></div>
              <div class="mb-3"><a href="/index_club" button class="btn btn-primary " type="button"> send </a> </button></div>
          </form>
      </section>
      <script src="assets/bootstrap/js/bootstrap.min.js"></script>
      <script src="assets/js/smart-forms.min.js"></script>
  </body>
  
  </html>