<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact form</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <section class="contact-clean">
        <form data-bss-recipient="e6302b7634d3f1784d25f6bbca3d3707" data-bss-redirect-url="/index">
            <h2 class="text-center">Contact us</h2>
            <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Name" autofocus="" required=""></div>
            <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email" inputmode="email" required=""><small class="form-text text-danger">Please enter a correct email address.</small></div>
            <div class="mb-3"><textarea class="form-control" name="message" placeholder="Message" rows="14" required=""></textarea></div>
            <div class="mb-3"><button class="btn btn-primary active" type="submit">send </button></div>
        </form>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/smart-forms.min.js"></script>
</body>

</html>