<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">


</head>

<body id="page-top"><a class="menu-toggle rounded" href="#"><i class="fa fa-bars"></i></a>
    <nav class="navbar navbar-light navbar-expand" id="sidebar-wrapper">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler d-none" data-bs-target="#"></button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav sidebar-nav" id="sidebar-nav">
                    <li class="nav-item sidebar-brand"><a class="nav-link active js-scroll-trigger" href="#page-top">Welcome Back</a></li>
                    <li class="nav-item sidebar-nav-item"><a class="nav-link js-scroll-trigger" href="/event_club">Events</a></li>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit">Log Out</button></form>
                </ul>
            </div>
        </div>
    </nav>
    <header class="d-flex masthead" style="background: url(&quot;assets/img/raphael-schaller-zbUvPw1wUIw-unsplash.jpg&quot;) center / contain;">
        <div class="container my-auto text-center" style="height: 370.8px;">
            <h1 data-aos="zoom-in-left" data-aos-delay="100" class="mb-1" style="font-size: 97px;color: var(--bs-dark);height: 149.6px;font-weight: bold;">Welcome to&nbsp;<br>Unified club Portal</h1>
            <h1 class="mb-5" style="height: 220.2px;padding: 89px;"><em data-aos="zoom-out-down" style="color: var(--bs-secondary);font-size: 48px;">All in one destination for clubs of <br>Ahmedabad University</em></h1>
        </div>
    </header>
    <section id="portfolio" class="content-section" style="background: var(--bs-dark);">
        <div class="container">
            <div class="content-section-heading text-center">
                <h2 class="mb-5" style="color: var(--bs-dark);background: var(--bs-light);">CLUBS</h2>
            </div>
            <div class="row g-0">
                <div class="col-lg-6"><a class="portfolio-item" href="/pclub_club" style="border-style: none;">
                        <div class="caption" style="background: url(&quot;assets/img/thomas-tastet-hSODeSbvzE0-unsplash.jpg&quot;) center / contain;border-style: none;">
                            <div class="caption-content">
                                <h1 style="height: 66px;">Programming Club</h1>
                                <p class="mb-0" style="color: var(--bs-secondary);font-weight: bold;">Only programmers are allowed :p</p>
                            </div>
                        </div><img class="img-fluid" src="assets/img/portfolio-2.jpg">
                    </a></div>
                <div class="col-lg-6"><a class="portfolio-item" href="#">
                        <div class="caption" style="background: url(&quot;assets/img/ruben-leija-jY_knL-TVvA-unsplash.jpg&quot;) center / contain;">
                            <div class="caption-content">
                                <h1 style="height: 66px;">Sports club</h1>
                                <p class="mb-0" style="color: var(--bs-red);font-weight: bold;">Sporty freaks enter</p>
                            </div>
                        </div><img class="img-fluid" src="assets/img/portfolio-2.jpg">
                    </a></div>
            </div>
        </div>
    </section>
    <footer class="footer text-center" style="background: var(--bs-dark);">
        <div class="container">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">&nbsp;<a class="link-light social-link rounded-circle" href="https://www.instagram.com/_priyanshu28/" style="color: var(--bs-pink);background: var(--bs-light);"><i class="icon-social-instagram"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="link-light social-link rounded-circle" href="https://www.linkedin.com/in/priyanshu-pathak-1334b0200/" style="background: var(--bs-light);"><i class="icon-social-linkedin" style="color: var(--bs-blue);"></i></a></li>
                <li class="list-inline-item">&nbsp;<a class="link-light social-link rounded-circle" href="https://github.com/priyanshu-28" style="background: var(--bs-light);"><i class="icon-social-github" style="color: var(--bs-dark);"></i></a></li>
            </ul>
        </div><a class="js-scroll-trigger scroll-to-top rounded" href="#page-top"><i class="fa fa-angle-up"></i></a>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="assets/js/stylish-portfolio.js"></script>
</body>
